p{color:red;font-size: medium;}
ul{color: blueviolet;}
ol{color:yellowgreen;}
tr > th {
    color:green;
}
h1{color:red;
    background-color: yellow;}
a[href$=".org"]{
    background: #00ff00;
}
a[href$="gov"]{
    background: #00ab99;
}
body{
    
    font-size: 30px;
    padding: 30px;
}
.image{
    background-image: -webkit-url('web.png');
    background-image: -o-url('web.png');
    background-image: url('web.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 10px 20 px;
    z-index: -1;
    filter: blur(5px);
}